html,body {
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
}
h2{
 color:#c06179;
 text-align: center;
 font-size: 28px;
 font-family: 华文中宋;
 font-weight: 600;
}
ul{
 position: absolute;
 top: 500px;
 left: 80px;
 display: flex;
}
ul li{
 position: relative;
 list-style: none;
 background: #777;
 width: 20px;
 height: 20px;
 margin: 0 110px;
 border-radius: 50%;
 transition: 0.5s;
 cursor: pointer;
}
ul li:hover{
 background-color: rgba(221, 189, 166,0.7);
 box-shadow: 0 0 0 4px #dcc0aa,0 0 0 6px #dcc0aa;
}
ul li .content:before{
 content: '';
 position: absolute;
 width: 30px;
 height: 30px;
 background-color:rgba(221, 189, 166,0.7);
 bottom: -5px;
 left: 120px;
 transform: rotate(45deg);
}
ul li .content{
 position: absolute;
 bottom: 40px;
 width: 250px;
 height: 125px;
 background-color: rgba(221, 189, 166,0.8);
 padding: 20px;
 box-sizing: border-box;
 border-radius: 15px;
 visibility: hidden;
 opacity: 0;
 transition: 0.5s;
 transform: translateX(-50%) translateY(-50px);
}
ul li:hover .content{
 visibility: visible;
 opacity: 1;
 transform: translateX(-50%) translateY(0px);
}
.content p{
 text-align: center;
 font-size: 16px;
 font-family: "微软雅黑";
}
.content a{
 text-decoration: none;
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: 600;
 color: floralwhite;
}
.content img{
 width: 40px;
 height: 40px;
 position: relative;
 left:85px;
}
.choose{
 position: absolute;
 top: 352px;
 left: 485px;
}
.choose img{
 position: relative;
 width: 25px;
 height: 27px;
 margin: 5px 0;
}
/*.choose li{
 list-style: none;
}*/
/*答题界面*/
.msgInfo img{
    width:700px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    box-shadow: 10px 10px 9px darkgrey;
}
.guize img{
 width:700px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    box-shadow: 10px 10px 9px darkgrey;
}
.guize #fanhui{
 width: 170px;
 position: relative;
 left: 950px;
 top: 480px;
 box-shadow: none;
}