html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
/*菜单按钮*/
#rule{
	position: absolute; 
	left: 65vw;
	top: 3vh;
	width: 80px;
	height: 75px;
   	cursor: pointer;
    transition: all 0.5s ease;
}
#music{
	position: absolute; 
	left: 73vw;
	top: 3vh;
	width: 75px;
	height: 65px;
   	cursor: pointer;
    transition: all 0.5s ease;
}
#package{
	position: absolute; 
	left: 81vw;
	top: 3vh;
	width: 75px; 
	height: 65px;
	cursor: pointer;
    transition: all 0.5s ease;
}
#share{
	position: absolute; 
	left: 89vw;
	top: 3vh;
	width: 85px; 
	height: 70px;
	cursor: pointer;
    transition: all 0.5s ease;
}
#dialogue{
	position: absolute;
	top: 61vh;
	left: 7vw;
	padding: 0;
	display: flex;
	z-index: 0;
}
#dialogue li{
	position: relative;
	list-style: none;
	background: #777;
	width: 1.2vw;
	height: 2vh;
	margin: 0vh 8vw;
	border-radius: 50%;
	transition: 0.5s;
	cursor: pointer;
}
#dialogue li:hover{
	background-color: rgba(221, 189, 166,0.9);
	box-shadow: 0 0 0 4px #dcc0aa,0 0 0 6px #dcc0aa;
}
#dialogue li .content:before{
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background-color:rgba(221, 189, 166,0.9);
	bottom: -5px;
	left: 120px;
	transform: rotate(45deg);
}
#dialogue li .content{
	position: absolute;
	bottom: 40px;
	width: 250px;
	height: 125px;
	background-color: rgba(221, 189, 166,0.9);
	padding: 20px;
	box-sizing: border-box;
	border-radius: 15px;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	transform: translateX(-50%) translateY(-50px);
}
#dialogue li:hover .content{
	visibility: visible;
	opacity: 1;
	transform: translateX(-50%) translateY(0px);
}
.content p{
	text-align: center;
	font-size: 16px;
	font-family: "微软雅黑";
}
.content img{
	width: 40px;
	height: 40px;
	position: relative;
	left:85px;
}
#question{
	position: absolute;
	top: 53vh;
	left: 21vw;
	padding: 0;
}
#question li{
	position: relative;
	list-style: none;
	background-color: #9c9223;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	transition: 0.5s;
	cursor: pointer;
	
}
#question li:hover{
	background-color: rgba(156, 146, 35,0.7);
	box-shadow: 0 0 0 4px #ffffff,0 0 0 6px #9c9223;
}
#question li a{
	position: relative;
	bottom: 8px;
	text-decoration: none;
	color: black;
	display: inline-block;
	width: 200px;
	height: 5px;
	margin: 0 30px;
	font-size: 22px;
	font-family: 幼圆;
}
.choose{
	background: url(../res/autumn答题.png) no-repeat;
	position: absolute;
	width:50vw;
	height: 50vh;
	left:25%;
    top:25%;
	padding: 0;
	background-size: 100% 100%;
	box-shadow: 10px 10px 9px gainsboro;
}
.choose img{
	position: relative;
	display: flex;
	width: 2.3vw;
	height: 4.5vh;
	top: 18.8vh;
	left: 12.5vw;
	margin: 2vh 0;
}
.choose li{
	list-style: none;
}
.gameon{
	background: url(../res/回答正确.png) no-repeat;
	position: absolute;
	width:50vw;
	height: 35vh;
	left:25%;
    top:32.5%;
	padding: 0;
	background-size: 100% 100%;
	box-shadow: 10px 10px 9px gainsboro;
}
.gameon img{
	position: relative;
	width: 18vw;
	height: 15vh;
	left: 16vw;
	top: 17vh;
}
.card{
	background: url(../res/spring卡片.png) no-repeat;
	position: absolute;
	width:70vw;
	height: 80vh;
	left:15%;
    top:12.5%;
	padding: 0;
	background-size: 100% 100%;
	box-shadow: 10px 10px 9px gainsboro;
}
.card img{
	position: relative;
	width: 15.7vw;
	height: 10vh;
	left: 33vw;
	top: 65vh;
	margin: 0 0.5vw;
}
.gameover{
	background: url(../res/回答错误.png) no-repeat;
	position: absolute;
	width:50vw;
	height: 35vh;
	left:25%;
    top:32.5%;
	padding: 0;
	background-size: 100% 100%;
	box-shadow: 10px 10px 9px gainsboro;
}
.gameover img{
	position: relative;
	width: 18vw;
	height: 15vh;
	left: 16vw;
	top: 17vh;
}
.rule{
	background: url(../res/规则图.png) no-repeat;
	position: absolute;
	width:60vw;
	height: 50vh;
	left:20%;
    top:23%;
	padding: 0;
	background-size: 100% 100%;
	box-shadow: 10px 10px 9px gainsboro;
}
.rule img{
	position: relative;
	width: 15vw;
	height: 12vh;
	left: 38vw;
	top: 37vh;
}
.package{
	background: url(../res/背包2.png) no-repeat;
	position: absolute;
	width:50vw;
	height: 80vh;
	left:25%;
    top:13%;
	padding: 0;
	background-size: 100% 100%;
	box-shadow: 10px 10px 9px gainsboro;
}
.package img{
	position: relative;
	width: 12.5vw;
	height: 9vh;
	left: 18.5vw;
	top: 69vh;
}
#next{
	position: absolute;
	width:20vw;
	height: 8vh;
	left:75%;
    top:85%;
	padding: 0;
}

@Keyframes SpringPerson{
	0%{
		bottom: 6vh;
		left: 0;
	}
	100%{
		bottom: 16vh;
		left: 12vw;
	}
}
